<h1>Listing labels</h1>

<%= simple_form_for :label, url: labels_path, method: :get, html: { class: "form-inline" } do |f| %>
  <%= f.input :date, input_html: { value: @date,  class: 'datepicker' } %>
  <%= f.submit 'Change' %>
<% end %>

<%= link_to 'Create new label', new_label_path, class: 'btn btn-primary' %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Tracking numbers</th>
      <th>Created at</th>
      <th>Label</th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= link_to label.id, label_path(label.id) %></td>
        <td><%= label.status %></td>
        <td>
          <% label.tracking_numbers.each do |tracking_number| %>
            <p>
              <%= link_to tracking_number, "https://track.aftership.com/#{tracking_number}" %>
            </p>
          <% end %>
        </td>
        <td><%= label.created_at %></td>
        <td><%= link_to "Download", label.files.to_h.dig(:label, :url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
